/* Gradient Background */
.gradient {
    height: 100%;

    background: linear-gradient(-45deg, #005daf, #000428, #005daf, #000428);
    background-size: 400% 400%;

    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 0s ease infinite;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* General */
html,
body {
    height: 100%;
    margin: 0;

    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    flex-flow: row wrap;
}

@media only screen and (max-width: 768px) {
    .flex-container {
        margin: 14px;
        margin-bottom: 0;
    }
}

/* Item Grid */
.item-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;

    flex: 1 0 35%;

    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 12px;
    margin: 24px;
    box-shadow: 16px 0 28px 0 rgba(0, 0, 0, 0.6);
    transition: all ease 0.8s;
}

.item:hover {
    background-color: lightgray;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .item {
        flex: 1 0 70%;
        margin: 6px;
        padding: 12px;
    }

    .item-grid {
        margin: 0 6px 0 6px;
    }
}

.item > p {
    display: block;
    width: 100%;
    margin: 6px;
}

.item > h3 {
    margin-top: 14px;
    padding-right: 18px;
}

.item > .ball {
    width: 48px;
    height: 48px;
    padding-right: 16px;
}

.expanded-item {
    flex: 1 0 70%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    width: 98%;
}

.expand-content {
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.8s;
}

.expanded-content {
    max-height: 1000px;
}

.expand-content > p{
    margin: 6px;
}

/* Pretty Button */
button {
    position: relative;

    display: block;
    margin: 8px;
    margin-bottom: 2px;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    box-shadow: none;

    background-color: transparent;
    color: orange;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    transition: background-color .3s;
}

button:hover,
button:focus {
    color: darkorange;
    cursor: pointer;
}

button > * {
    position: relative;
    font-size: 24px;
}

button span {
    display: block;
    padding: 12px 24px;
}

button:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}
