.navbar {
    height: 24px;
    margin: 16px;

    display: flex;
    justify-content: center;
}

.navbar > a {
    text-decoration: none;
    color: lightsteelblue;
    cursor: default;
    margin: 8px;
    font-size: 20px;
}

.navbar > a:hover {
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 420px) {
    .navbar {
        margin: 8px;
    }

    .navbar > a {
        margin: 8px;
        font-size: 18px;
    }
}

@media screen and (max-width: 340px) {
    .navbar {
        margin: 4px;
    }

    .navbar > a {
        margin: 4px;
        font-size: 16px;
    }
}